* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  padding: 20px 0;
  /* border: 1px solid red; */
  background-color: #1f2937;
  
}

.header {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */
  color: #f9faf8;
  width: 100em;
  margin-bottom: 90px;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 25px;
}

.links {
  display: flex;
  gap: 25px;
  font-size: 18px;
  margin-top: 5px;
  
  
  
  
}

a {
  color:  #e5e5e5;
}
  
a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
  list-style-type: none;
}

.hero-container {
  background-color: #1f2937;
  display: flex;
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  gap: 100px;

}

.hero {
  color: white;
  padding: 20px 0;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap:  8px;
  margin-bottom: 90px;
  
  
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

.hero-second-text {
  color:  #e5e5e5;
  font-size: 18px;
}

.placeholder {
  display: flex;
  width: 480px;
  height: 200px;
  background-color: #797D7F;
  border: 1px solid black;
  color: white;
  align-self: center;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  
}

.signupbtn {
  background-color: #0096FF;
  border: black;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  padding: 8px 25px;
  text-align: center;
  ;
}

